<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
<body>
    <div class="container">
    <p>Hello <strong><%= name %></strong>,</p>
    <p>We are Happy to onboard you!</p>
    <p>If you have any query, then let us know, we would be happy to help you.</p>

    <%- include('../partials/footer') %>
</div>
</body>
</html>